<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'task_list' %}">Task Manager</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task_create' %}">Create Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Task: {{ task.title }}</h2>
        <p><strong>Description:</strong> {{ task.description }}</p>
        <p><strong>Start Date:</strong> {{ task.start_time }}</p>
        <p><strong>Deadlne:</strong> {{ task.deadline }}</p>
        

        <div class="d-flex">
            <a href="{% url 'task_update' task.id %}" class="btn btn-primary mr-2">Edit Task</a>
            <form action="{% url 'task_delete' task.id %}" method="post" class="ml-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Task</button>
            </form>
        </div>
        <a href="{% url 'task_list' %}" class="btn btn-secondary mt-3">Back to Task List</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
